<!-- Footer
============================================= -->
<outerfooter>
<footer id="footer" class="dark">

	<div class="container">


	</div>

	<!-- Copyrights
	============================================= -->
	<div id="copyrights">

		<div class="container clearfix">

			<div class="col_half">
				Copyright &copy; 2018 Masculex<br/>
				<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
			</div>

			<div class="col_half col_last tright">

				<div class="clear"></div>

			</div>

		</div>

	</div><!-- #copyrights end -->

</footer><!-- #footer end -->
</outerfooter>