<!-- Footer
============================================= -->
<outerfooter>
<footer id="footer" class="dark">

	<div class="container">


	</div>

	<!-- Copyrights
	============================================= -->
	<div id="copyrights">

		<div class="container clearfix">

			<div class="col_half">
				Copyright &copy; 2018<br/>
				
				<div class="copyright-links" th:if="${webContext != null}"><a th:href="${webContext.homeUrl}">Home</a> / <a th:href="${webContext.homeUrl + '/blog'}">Blog</a></div>
			</div>

			<div class="col_half col_last tright">

				<div class="clear"></div>

			</div>

		</div>

	</div><!-- #copyrights end -->

</footer><!-- #footer end -->
</outerfooter>