<!-- Header
============================================= -->
<outerheader>
<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<!-- Logo
			============================================= -->
			<div id="logo">
				<a th:href="${webContext.homeUrl}" class="standard-logo" th:data-dark-logo="@{/images/logo-dark.png}"><img th:src="@{/images/logo.png}" alt="Canvas Logo"/></a>
				<a th:href="${webContext.homeUrl}" class="retina-logo" th:data-dark-logo="@{/images/logo-dark@2x.png}"><img th:src="@{/images/logo@2x.png}" alt="Canvas Logo"/></a>
			</div><!-- #logo end -->

			<!-- Primary Navigation
			============================================= -->
			<nav id="primary-menu" class="dark">

				<ul>
					<li><a th:href="${webContext.homeUrl}"><div>Home</div></a></li>
					<li><a th:href="${webContext.homeUrl + '/blog'}"><div>Blog</div></a></li>
				</ul>

			</nav><!-- #primary-menu end -->

		</div>

	</div>

</header><!-- #header end -->
</outerheader>
