<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>

	<object th:include="fragments/head :: head" th:remove="tag"></object>
	
	<!-- Document Title
	============================================= -->
	<title th:text="${'Blog | ' + webContext.title}"></title>
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<div th:include="fragments/header :: outerheader" th:remove="tag"></div>

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Blog</h1>
				<span>Our Latest "Best Of" Lists</span>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Posts
					============================================= -->
					<div id="posts" class="small-thumbs">
						<div th:each="post : ${posts}">
							<div class="entry clearfix">
								<div class="entry-c">
									<div class="entry-title">
										<h2><a th:href="${webContext.homeUrl + '/post/' + post.slug}" th:text="${post.title}"></a></h2>
									</div>
								</div>
							</div>
						</div>

					</div><!-- #posts end -->

					<!-- Pagination
					============================================= -->
					<ul class="pager nomargin">
						<li class="previous"><span th:if="${isFirst} == false"><a th:href="${webContext.homeUrl + '/blog?pageNum=' + previousPageNum}">&larr; Previous</a></span></li>
						<li class="next"><span th:if="${isLast} == false"><a th:href="${webContext.homeUrl + '/blog?pageNum=' + nextPageNum}">Next &rarr;</a></span></li>
					</ul><!-- .pager end -->

				</div>

			</div>

		</section><!-- #content end -->

		<div th:include="fragments/footer :: outerfooter" th:remove="tag"></div>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<div th:include="fragments/includes :: includes" th:remove="tag"></div>

</body>
</html>