<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>

	<object th:include="fragments/head :: head" th:remove="tag"></object>
	
	<!-- Document Title
	============================================= -->
	<title th:text="${'Blog | ' + webContext.title}"></title>
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<div th:include="fragments/header :: outerheader" th:remove="tag"></div>

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Blog</h1>
				<span>Our Latest "Best Of" Lists</span>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Posts
					============================================= -->
					<div id="posts" class="small-thumbs">
						<div th:each="post : ${posts}">
							<div class="entry clearfix" itemscope="true" itemtype="http://schema.org/Article">
								<div style="display:none">
									<span itemprop="name" th:text="${post.title}"></span>
									<link itemprop="mainEntityOfPage" th:href="${webContext.homeUrl + '/post/' + post.slug}" />
									<span itemprop="url" th:text="${webContext.homeUrl + '/post/' + post.slug}"></span>
									<span itemprop="datePublished" th:content="${post.schemaDateDisplay}" th:text="${post.schemaDateDisplay}"></span>
									<span itemprop="dateModified" th:content="${post.schemaDateDisplay}" th:text="${post.schemaDateDisplay}"></span>
									<span itemprop="author" th:text="${webContext.title}"></span>
									<span itemprop="headline" th:text="${post.title}"></span>
									<span itemprop="image" th:if="${post.products[0].imageUrl != null}" th:text="${post.products[0].imageUrl}"></span>
									<div itemtype="https://schema.org/Organization" itemscope="true" itemprop="publisher">
										<link itemprop="url" th:href="${webContext.homeUrl}"/> 
										<span itemprop="name" th:text="${webContext.title}"></span>
										<span itemprop="logo" itemscope="true" itemtype="https://schema.org/ImageObject">
											<meta itemprop="url" th:content="${webContext.homeUrl + '/images/logo.png'}"/>
										</span>
									</div>
								</div>
								<div class="entry-image" th:if="${post.products[0].imageUrl != null}">
									<a th:href="${webContext.homeUrl + '/post/' + post.slug}" data-lightbox="image"><img class="image_fade" th:src="${post.products[0].imageUrl}" alt="image"/></a>
								</div>
								<div class="entry-c">
									<div class="entry-title">
										<h2><a th:href="${webContext.homeUrl + '/post/' + post.slug}" th:text="${post.title}"></a></h2>
									</div>
									<ul class="entry-meta clearfix">
										<li><i class="icon-calendar3"></i><span th:text="${post.dateDisplay}"></span> </li>
									</ul>
									<div class="entry-content">
										<a th:href="${webContext.homeUrl + '/post/' + post.slug}" class="more-link">Click to Read</a>
									</div>
								</div>
							</div>
						</div>


					</div><!-- #posts end -->

					<!-- Pagination
					============================================= -->
					<ul class="pager nomargin">
						<li class="previous"><span th:if="${isFirst} == false"><a th:href="${webContext.homeUrl + '/blog(pageNum=${previousPageNum})'}">&larr; Previous</a></span></li>
						<li class="next"><span th:if="${isLast} == false"><a th:href="${webContext.homeUrl + '/blog(pageNum=${nextPageNum})'}">Next &rarr;</a></span></li>
					</ul><!-- .pager end -->

				</div>

			</div>

		</section><!-- #content end -->

		<div th:include="fragments/footer :: outerfooter" th:remove="tag"></div>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<div th:include="fragments/includes :: includes" th:remove="tag"></div>

</body>
</html>