<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>

	<object th:include="fragments/head :: head" th:remove="tag"></object>
	
	<!-- Document Title
	============================================= -->
	<title th:text="${webContext.title + ' | ' + webContext.tagline}"></title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
	
	<div th:include="fragments/header :: outerheader" th:remove="tag"></div>

		<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">
			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide" style="background-image: url('/images/slider/swiper/slide1.jpg');">
						</div>
					</div>
				</div>

				<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
					<div class="row clearfix">

						<div class="col-lg-5">
							<div class="heading-block topmargin">
								<h1><span th:text="${webContext.header1}"></span><br/><span th:text="${webContext.header2}">MultiPurpose Template.</span></h1>
							</div>
							<p class="lead" th:text="${webContext.splash}"></p>
						</div>

						<div class="col-lg-7">
							<div style="position: relative; margin-bottom: -60px;" class="ohidden" data-height-lg="426" data-height-md="567" data-height-sm="470" data-height-xs="287" data-height-xxs="183">
								<img th:src="@{/images/slidein.png}" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="100" alt="suit"/>
							</div>
						</div>

					</div>
				</div>

				<a th:href="${webContext.homeUrl + '/blog'}" class="button button-full center tright footer-stick">
					<div class="container clearfix">
						Be sure to check out our blog. <strong>Click Here</strong> <i class="icon-caret-right" style="top:4px;"></i>
					</div>
				</a>

			</div>

		</section><!-- #content end -->

		<div th:include="fragments/footer :: outerfooter" th:remove="tag"></div>
	
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<div th:include="fragments/includes :: includes" th:remove="tag"></div>

</body>
</html>