<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>

	<object th:include="fragments/head :: head" th:remove="tag"></object>

	<!-- Document Title
	============================================= -->
	<title th:text="${post.title + ' | ' + webContext.title}"></title>
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

	<div th:include="fragments/header :: outerheader" th:remove="tag"></div>

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1 th:text="${post.title}"></h1>
			</div>

		</section><!-- #page-title end -->
		
		<div style="display:none" itemscope="true" itemtype="http://schema.org/Article">
			<span itemprop="name" th:text="${post.title}"></span>
			<link itemprop="mainEntityOfPage" th:href="${webContext.homeUrl + '/post/' + post.slug}" />
			<span itemprop="url" th:text="${webContext.homeUrl + '/post/' + post.slug}"></span>
			<span itemprop="datePublished" th:content="${post.schemaDateDisplay}" th:text="${post.schemaDateDisplay}"></span>
			<span itemprop="dateModified" th:content="${post.schemaDateDisplay}" th:text="${post.schemaDateDisplay}"></span>
			<span itemprop="author" th:text="${webContext.title}"></span>
			<span itemprop="headline" th:text="${post.title}"></span>
			<span itemprop="image" th:if="${post.products[0].imageUrl != null}" th:text="${post.products[0].imageUrl}"></span>
			<div itemtype="https://schema.org/Organization" itemscope="true" itemprop="publisher">
				<link itemprop="url" th:href="${webContext.homeUrl}"/> 
				<span itemprop="name" th:text="${webContext.title}"></span>
				<span itemprop="logo" itemscope="true" itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" th:content="${webContext.homeUrl + '/images/logo.png'}"/>
				</span>
			</div>
		</div>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap" style="padding-top:0px">

				<div class="container clearfix">

					<div class="single-post nobottommargin">

						<!-- Single Post
						============================================= -->
						<div class="entry clearfix">

							<!-- Entry Meta
							============================================= -->
							<ul class="entry-meta clearfix">
								<li><i class="icon-calendar3"></i><span th:text="${post.dateDisplay}"></span></li>
							</ul><!-- .entry-meta end -->

							<div th:each="product,iterStatus : ${post.products}">
								<div itemscope="true" itemtype="http://schema.org/Product">
								<div style="display:none" th:if="${product.lowestPrice != null}">
									<span itemprop="offers" itemscope="true" itemtype="http://schema.org/Offer">
										<span itemprop="price" th:text="${product.lowestPriceDecimal}"></span>
										<span itemprop="priceCurrency">USD</span>
									</span>
								</div>
									<!-- Entry Title
									============================================= -->
									<div class="entry-title">
										<h2><span th:text="${iterStatus.count + '. '}"></span> <span itemprop="name" th:text="${product.title}"></span> <span th:text="${product.priceRange}"></span></h2>
									</div><!-- .entry-title end -->
		
									<div>
										<a th:href="${product.link}" target="_blank"><img itemprop="image" th:src="${product.imageUrl}" style="height:200px"/></a>
									</div>
									<!-- Entry Content
									============================================= -->
									<div class="entry-content notopmargin" style="margin-bottom:60px">
										<p itemprop="description" th:utext="${product.description}" style="margin-bottom:20px;font-size:18px"></p>
										<a th:href="${product.link}" class="button button-xlarge tright" target="_blank" style="margin-left:0px">Learn More<i class="icon-circle-arrow-right"></i></a>
										<!-- Post Single - Content End -->
									</div>
								</div>
								<div class="clear"></div>
							</div>
						
						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->

		<div th:include="fragments/footer :: outerfooter" th:remove="tag"></div>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<div th:include="fragments/includes :: includes" th:remove="tag"></div>

</body>
</html>