<?xml version="1.0" encoding="UTF-8"?>

<sitemapindex 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/siteindex.xsd" 
	xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
	xmlns:th="http://www.thymeleaf.org">	

	<sitemap>
		<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
		   <url th:each="post : ${posts}">
		      <loc th:text="${webContext.homeUrl + '/post/' + post.slug}"></loc>
		      <lastmod th:text="${post.schemaDateDisplay}"></lastmod>
		      <changefreq>monthly</changefreq>
		      <priority>0.8</priority>
		   </url>
		</urlset>
	</sitemap>
</sitemapindex>